!<!DOCTYPE html>
<html>
<head>

	<title></title>

<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
  	
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js">
  	
  </script>
  

</head>
<body>
<div>
<h3>
<span id="ic163l4" class="glyphicon glyphicon-minus-sign disabled"></span>
Generate users list
</h3>
"Ramkumar"
"0000-00-00"
</div>

</body>

</html>

