<!DOCTYPE html>
<html>
<head>
<title>css border removal</title>
<style>
body {
  #background-color: powderblue;
}


</style>
</head>
<body>

<div id="outdiv_pt0"  style="border:10px solid red;">	
<div id="noborder" style="border: 10px dotted green; color: red;">
<div id="outdiv_pt160" class="div1" style="border:10px solid blue;">
	<div id="outdiv_pt161" class="div2">
		<div id="outrow162">
			<div id="om162">
				162 parentid=161
			</div>
		</div>
		<div id="outrow173">
			<div id="om173">
				173 parentid=161
			</div>
		</div>
	</div>
</div>
	<div id="outdiv_pt173" class="div3">
		<div id="outrow174">
			<div id="om174">
				174 parent_id=173
			</div>
		</div>
	</div>
</div>
</div>

</body>
</html>

