<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js">
  
  </script>

</head>
<body>

<nav class="navbar navbar-default">
  	<div class="container-fluid">
  		<div class="col-xs-1">
  			Logout-butn
  		</div>

  		<div class="col-xs-11">
  			<h1>projects </h1>
 		 	<div id="project34">
  				<div class="row">
  					<div id="divhglt34" class="col-xs-10">
  						<div class="col-xs-7">
  							PHP 
  						</div>
 						<div class="col-xs-3">
	  						PHP Learning Easy
	  					</div>
	  				</div>
	  			

  					<div class="col-xs-1">
 							XXXX
 					</div>
 				</div>

 				
	 			<div id="outdiv_pt0" class="col-xs-12">
	 				<div id="outdiv_pt0_L1_160" class="col-xs-12">
	 					<div id="outrow160">
	 						<div id="om160">
	 						 	<div id="enc160">
	 						 	 	<div id="tdiv160" class="col-xs-12" style="margin-bottom:20px">>
	 						 	 		<div class="col-xs-12" style="border:5px solid black">
	 					 					<div class="col-xs-12">
	 					 	 					<div>
	 					 	 						Database tasks
	 					 	 					</div>
	 					 	 				</div>
	 					 	 				"ramkumar"
	 					 	 				"0000-00-00"
	 					 	 			</div>
	 					 	 		</div>
	 					 		</div>
	 					 	</div>
	 					 		<p> <span class="glyphicon glyphicon-arrow-down" style="font-size: 50px;font-height:150px;"></span></p>
	 					 		<div id="dummy" style="border-width: 10px 0 10px 10px">
	 					 			
	 					 		</div>
	 					 		
	 					 		<div id="outdiv_pt160_L2_160" style="border-left:2px solid blue;">
	 					 			<div id="outrow161">
	 					 				<div id="om161">
	 					 					<div id="enc161">
	 						 	 				<div id="tdiv161" class="col-xs-12" style="margin-bottom:20px">
	 						 	 					<div class="col-xs-12" style="border:5px solid black">
	 					 								<div class="col-xs-12">
	 					 	 								<div>
	 					 	 									Setup Database
	 					 	 								</div>
	 								 	 				</div>
	 					 	 								"ramkumar"
	 					 	 								"0000-00-00"
	 					 	 						</div>
	 					 	 							
	 					 	  					</div>
	 					 					</div> 					 		
	 					 				</div>
	 					 			</div>
	 					 		</div>
	 					 			
	 					 	
	 									<div id="outdiv_pt0_L1_169" style="padding-left:20px;">
 					 							<div id="169"  >
 					 								<div id="om169">
 					 	 								<div id="enc169">
 					 	 									<div id="tdiv169" class="col-xs-12">

 					 	 										<div class="col-xs-12" style="border:5px solid black">
 					 	 										<div>
 					 	 											PHP BACKEND
 					 	 										</div>
 					 	 										Ramkumar
 					 	 										"0000-00-00"
 					 	 									</div>
 					 	 							</div>
 					 	 						</div>
 					 	 				</div>
 					 					</div>
 					 					</div>
 								</div>
 							</div>	
				</div>		
 			</div>
		</div>
 	</div>
</div>


</body>
</html>