<!DOCTYPE html>
<html>
<head>
<style>
.vertline {
  height:100%;
  border-left: 1px solid red;
}



</style>
	<title></title>
</head>
<body>

<div class="vertline">

	<div id="t166l5" class="pt164 160l5 row outdiv lvl1" style="margin-bottom: 0px; margin-top: 0px; padding-top: 0px; padding-bottom: 0px; border-left: 2px solid rgb(137, 127, 127); --lvl:5px; --bg:red;"><div class="col-xs-12" style="border-left: 10px solid rgb(92, 179, 255);"><span id="ic166l5" class="glyphicon glyphicon-minus-sign disabled"></span>166 Generate user list 1</div><hr id="hr166" style="margin-top: 10px; margin-bottom: 10px; padding-top: 0px; padding-bottom: 0px; border: 0.01px solid rgb(92, 179, 255);"></div>


<div id="t166l5" class="pt164 160l5 row outdiv lvl1" style="margin-bottom: 0px; margin-top: 0px; padding-top: 0px; padding-bottom: 0px; border-left: 2px solid rgb(137, 127, 127); --lvl:5px; --bg:red;"><div class="col-xs-12" style="border-left: 10px solid rgb(92, 179, 255);"><span id="ic166l5" class="glyphicon glyphicon-minus-sign disabled"></span>166 Generate user list 2</div><hr id="hr166" style="margin-top: 10px; margin-bottom: 10px; padding-top: 0px; padding-bottom: 0px; border: 0.01px solid rgb(92, 179, 255);"></div>


<div id="t166l5" class="pt164 160l5 row outdiv lvl1" style="margin-bottom: 0px; margin-top: 0px; padding-top: 0px; padding-bottom: 0px; border-left: 2px solid rgb(137, 127, 127); --lvl:5px; --bg:red;"><div class="col-xs-12" style="border-left: 10px solid rgb(92, 179, 255);"><span id="ic166l5" class="glyphicon glyphicon-minus-sign disabled"></span>166 Generate user list 3</div><hr id="hr166" style="margin-top: 10px; margin-bottom: 10px; padding-top: 0px; padding-bottom: 0px; border: 0.01px solid rgb(92, 179, 255);"></div>

</div>
</body>
</html>