<!<!DOCTYPE html>
<html>
<head>

	<title></title>

<style>
	.outer {

		border-left:2px solid red;
	}
</style>
</head>
<body>
<div id='outer' >
<div id="om" class='om'>
	<div id="indiv1"  class='inner'>
		<div>
		ommmmmmmm
		</div>
	</div>
</div>
<div id="outdiv1" class='outer'>
	<div id="indiv1"  class='inner'>
		<div>
		xxxxxxxxxx
		</div>
	</div>
</div>
<div id="outdiv2" class='outer'>
	<div id="indiv2" class='inner'>
		<div>
		YYYYYYYYYYYY
		</div>
	</div>
</div>
<div id="outdiv3" class='outer'>
	<div id="indiv1" class='inner'>
		<div>
		ZZZZZZZZZZZ
		</div>
	</div>
</div>
</div>

</body>
</html>